body
{
    height: 90vh;
    color: #fff;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #d59056, #d5c538);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

body, h1
{
    font-family: "Segoe UI", sans-serif;
    font-weight: 300;
}

.top
{
    position: absolute;
    top: 1%;
}

.middle
{
    position: absolute;
    top: 45%;
}

.bottom
{
    position: absolute;
    top: 95%;
}

.centered
{
    text-align: center;
    right: 0;
    left: 0;
}

label
{
    margin-right: 15px;
    line-height: 32px;
}

input[type=radio]
{
    -webkit-appearance: none;
    -moz-appearance: none;

    border-radius: 50%;
    width: 15px;
    height: 15px;

    border: 2px solid white;
    transition: 0.2s all linear;
    outline: none;
    margin-bottom: -2px;
}

input[type=radio]:checked
{
    border: 5px solid white;
}

input[type=range]
{
    background: transparent;
    height: 23px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 360px;
}

input[type=range]:focus
{
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track
{
    width: 360px;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: #FFFFFF;
    border-radius: 50px;
}

input[type=range]::-webkit-slider-thumb
{
    height: 17px;
    width: 17px;
    border-radius: 50px;
    background: white;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
}

input[type=range]:focus::-webkit-slider-runnable-track
{
    background: #FFFFFF;
}

input[type=range]::-moz-range-track
{
    width: 360px;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: #FFFFFF;
    border-radius: 50px;
}

input[type=range]::-moz-range-thumb
{
    height: 17px;
    width: 17px;
    border-radius: 50px;
    background: #FFFFFF;
    cursor: pointer;
}

input[type=range]::-ms-track
{
    width: 360px;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower
{
    background: #FFFFFF;
    border-radius: 100px;
}

input[type=range]::-ms-fill-upper
{
    background: #FFFFFF;
    border-radius: 100px;
}

input[type=range]::-ms-thumb
{
    margin-top: 1px;
    height: 17px;
    width: 17px;
    border-radius: 50px;
    background: #FFFFFF;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower
{
    background: #FFFFFF;
}

input[type=range]:focus::-ms-fill-upper
{
    background: #FFFFFF;
}

@-webkit-keyframes Gradient
{
    0%
    {
        background-position: 0 50%
    }
    50%
    {
        background-position: 100% 50%
    }
    100%
    {
        background-position: 0 50%
    }
}

@-moz-keyframes Gradient
{
    0%
    {
        background-position: 0 50%
    }
    50%
    {
        background-position: 100% 50%
    }
    100%
    {
        background-position: 0 50%
    }
}

@keyframes Gradient
{
    0%
    {
        background-position: 0 50%
    }
    50%
    {
        background-position: 100% 50%
    }
    100%
    {
        background-position: 0 50%
    }
}